<!--Values-->
<div *ngFor="let value of values; index as i; last as l;">

    <!-- Value-->
    <div *ngIf="!editing">
        <p *ngIf="valueMembers === undefined">
            <span *ngIf="numbered">{{i + 1}}. </span>
            {{value}}
        </p>
        <p *ngIf="valueMembers !== undefined">
            <span *ngIf="numbered">{{i + 1}}. </span>
            <span *ngFor="let item of value | keyvalue;">
                <span *ngIf="valueMembers.includes(item.key)">
                    <span *ngIf="showMemberNames">
                        {{item.key | titlecase}}
                    </span>
                    <span>
                        {{item.value}}
                    </span>
                </span>
            </span>
        </p>
    </div>

    <!--Value (Edit)-->
    <div *ngIf="editing">
        <!--Single-Value editing-->
        <div *ngIf="valueMembers === undefined" class="input-group">
            <div *ngIf="numbered" class="input-group-prepend">
                <span class="input-group-text">{{i + 1}}.</span>
            </div>
            <input class="form-control" [type]="inputType" [(ngModel)]="value" (change)="updateElement.emit({index: i, value: value});">

            <div class="input-group-append">
                <!--Remove Button-->
                <button *ngIf="values.length > 1" type="button" class="btn btn-sm btn-outline-danger list-button align-middle"
                    (click)="values.splice(i, 1)">
                    <!--X-->
                    <svg class="bi bi-x remove-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
                <!--Add Button-->
                <button type="button" class="btn btn-sm btn-outline-success list-button align-middle"
                    (click)="values.splice(i+1, 0, value)">
                    <!--Plus-->
                    <svg class="bi bi-plus add-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </div>
        </div>

        <!--Multi-Value editing-->
        <div *ngIf="valueMembers !== undefined" class="input-group">
            <ng-template ngFor let-item [ngForOf]="value | keyvalue">
                <ng-template [ngIf]="valueMembers.includes(item.key)">
                    <input class="form-control" [type]="inputType" [(ngModel)]="item.value" (change)="value[item.key] = item.value; updateElement.emit({index: i, value: value});">
                </ng-template>
            </ng-template>
            <div class="input-group-append">
                <!--Remove Button-->
                <button *ngIf="values.length > 1" type="button" class="btn btn-outline-danger list-button align-middle"
                    (click)="values.splice(i, 1)">
                    <!--X-->
                    <svg class="bi bi-x remove-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
                <!--Add Button-->
                <button type="button" class="btn btn-outline-success list-button align-middle"
                    (click)="values.splice(i+1, 0, cloneMember(value))">
                    <!--Plus-->
                    <svg class="bi bi-plus add-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
